*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash
 *.tar.gz
 *.exe
src/нelpico
src/нelpicod
src/нelpico-cli
src/нelpico-tx
src/test/test_нelpico
src/qt/test/test_нelpico-qt
src/bench/bench_нelpico
 # autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
 src/secp256k1/build-aux/config.guess
src/secp256k1/build-aux/config.sub
src/secp256k1/build-aux/depcomp
src/secp256k1/build-aux/install-sh
src/secp256k1/build-aux/ltmain.sh
src/secp256k1/build-aux/m4/libtool.m4
src/secp256k1/build-aux/m4/lt~obsolete.m4
src/secp256k1/build-aux/m4/ltoptions.m4
src/secp256k1/build-aux/m4/ltsugar.m4
src/secp256k1/build-aux/m4/ltversion.m4
src/secp256k1/build-aux/missing
src/secp256k1/build-aux/compile
src/secp256k1/build-aux/test-driver
src/secp256k1/gen_context
src/secp256k1/libsecp256k1.pc
src/secp256k1/src/ecmult_static_context.h
src/secp256k1/src/libsecp256k1-config.h*
src/secp256k1/src/stamp-h1
 config.log
config.status
configure
libtool
src/config/нelpico-config.h
src/config/нelpico-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
 src/univalue/gen
 src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h
 src/qt/test/moc*.cpp
libconftest.dylib*
 .deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.нelpico
*.a
*.pb.cc
*.pb.h
 *.log
*.trs
*.dmg
 *.json.h
*.raw.h
 #libtool object files
*.lo
*.la
 # Compilation and Qt preprocessor part
*.qm
Makefile
нelpico-qt
Helpico-Qt.app
 # Unit-tests
Makefile.test
нelpico-qt_test
src/test/buildenv.py
 # Resources cpp
qrc_*.cpp
 # Mac specific
.DS_Store
build
 #lcov
*.gcno
*.gcda
/*.info
test_нelpico.coverage/
total.coverage/
coverage_percent.txt
 #build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar
 !src/leveldb*/Makefile
 .cproject
.project
.autotools
.vscode
/doc/doxygen/
 libнelpicoconsensus.pc
src/qt/нelpico-qt.bash
qa/pull-tester/tests-config.sh
 #development symlinks
нelpico-cli
нelpicod
нelpico-qt
make
